@using BookingTickets.Core.ViewModels.UserSystemViewModels
@model ForgotPasswordVm

<link rel="stylesheet" href="~/css/forgotstyle.css" />

<section class="forgot-password-section">
    <div class="forgot-card">
        <h3>Forgot Password</h3>
        <p>"Forgot your password? No worries! Enter your email to reset it and get back to enjoying amazing events."</p>

        <form method="post" novalidate="novalidate">
            <input asp-for="Email" placeholder="Enter your Email" required />
            <span class="text-danger small" asp-validation-for="Email"></span>

            <button type="submit" class="btn-forgot">
                Confirm
            </button>

            <div class="text-danger small mt-3" asp-validation-summary="ModelOnly"></div>
        </form>
    </div>
</section>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" crossorigin="anonymous"></script>
}


