@using BookingTickets.Core.ViewModels.UserSystemViewModels
@model UserLoginVm
<!--Contact One Start-->
<section class="contact-one">
    <div class="container">
        <div class="row">
            <div class="contact-one__inner">
                <h3 class="contact-one__title">Login</h3>
                <p class="contact-one__text">
                    "Access amazing events with ease! Log in now to manage your tickets and stay updated on upcoming experiences."
                </p>
                <form class="contact-form-validated contact-one__form" method="post" novalidate="novalidate">

                    <div class="col-xl-12 col-lg-12">
                        <div class="contact-one__input-box">
                            <input asp-for="UserNameOrEmail" placeholder="User Name or Email" required="">
                        </div>
                        <span class="text-primary" asp-validation-for="UserNameOrEmail"></span>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <div class="contact-one__input-box">
                            <input asp-for="Password" placeholder="Password" required="">
                        </div>
                        <span class="text-primary" asp-validation-for="Password"></span>
                    </div>
                    <div class="col-xl-12 col-lg-12 form-check">
                        <input type="checkbox" asp-for="RememberMe" class="form-check-input">
                        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                    <div class="main-menu__btn-box">
                        <button type="submit" class="main-menu__btn thm-btn">
                            Buy Ticket <span class="icon-arrow-right"></span>
                        </button>
                    </div>

                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                </form>
                <div class="result">
                    <a asp-action="ForgotPassword" class="forget-pwd">Forget Password?</a><br />
                    <a asp-action="Register" class="forget-pwd">Register</a> <br />
                    <a asp-action="GoogleLogin"><i class="fa-brands fa-google"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contact One End-->
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}