@using BookingTickets.Core.ViewModels.UserSystemViewModels
@model UserRegisterVm
<link rel="stylesheet" href="~/css/registerstyle.css" />


<section class="register-section">
    <div class="container">
        <div class="register-card">
            <h3 class="register-title">Register</h3>
            <p class="register-subtitle">
                "Unforgettable events are just a few steps away! Sign up now to stay updated on the best events."
            </p>

            <form method="post" novalidate>
                @if (TempData["Succsess"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["Succsess"]
                    </div>
                }

                <input asp-for="UserName" placeholder="User Name" class="form-control-custom" />
                <span class="text-primary" asp-validation-for="UserName"></span>

                <input asp-for="FullName" placeholder="Full Name" class="form-control-custom" />
                <span class="text-primary" asp-validation-for="FullName"></span>

                <input asp-for="Email" placeholder="Your Email" class="form-control-custom" />
                <span class="text-primary" asp-validation-for="Email"></span>

                <input asp-for="Password" placeholder="Password" class="form-control-custom" type="password" />
                <span class="text-primary" asp-validation-for="Password"></span>

                <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control-custom" type="password" />
                <span class="text-primary" asp-validation-for="ConfirmPassword"></span>

                <div class="form-check-custom">
                    <input type="checkbox" asp-for="Subscribe" id="SubscribeCheckbox" />
                    <label for="SubscribeCheckbox" class="text-muted">Subscribe</label>
                </div>

                <button type="submit" class="btn-gradient">
                    Register <i class="bi bi-arrow-right ms-2"></i>
                </button>

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
</section>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}





