@model EventUpdateDto

<h2>Update Event</h2>

<form asp-action="Update" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewImage"></label>
        <input asp-for="NewImage" type="file" class="form-control" />
        <span class="text-danger" asp-validation-for="NewImage"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-success">Update</button>
    <a class="btn btn-outline-primary" asp-action="Index">Go Back</a>
</form>


