@using BookingTickets.Core.Entities
@model EventUpdateDto
@{
    var eventlanguages = ViewBag.Languages;
    var venues = ViewBag.Venues;
}
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dates"></label>
                <input asp-for="Dates" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Dates"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgeRestriction"></label>
                <input asp-for="AgeRestriction" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="AgeRestriction"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="PhoneNumber"></span>
            </div>
            <div class="form-group">
                <select asp-for="EventLanguageIds">

                    @foreach (Language language in eventlanguages)
                    {
                        @if (Model.EventLanguageIds.Contains(language.Id))
                        {
                            <option selected value="@language.Id">@language.Name</option>
                        }
                        else
                        {
                            <option value="@language.Id">@language.Name</option>
                        }

                    }
                </select>
            </div>
            <div class="form-group">
                <span>Venue</span>
                <select class="form-select" asp-for="VenueId" asp-items=' new SelectList(venues ,"Id","Name")'>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Photos"></label>
                <input asp-for="Photos" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Photos"></span>
                <input asp-for="EventImages" type="hidden" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}

