@model VenueUpdateDto
<div class="container">
    <div class="row">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Address"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity"></label>
                <input asp-for="Capacity" class="form-control" aria-describedby="emailHelp">
                <span class="text-danger" asp-validation-for="Capacity"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
@section scripts {
    @await Html.PartialAsync("_ValidationPartial")
}


